{include file="public/header" /}
<link rel="stylesheet" href="__CSS__/list.css" />
<div class="bk20"></div>
<div class="mcenter clear">
  <div class="list_left fl">
    <div class="nav">当前位置：<a href="">大麦理财</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="">资讯中心</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="">知识百科</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="">知识百科标题</a></div>
    <div class="list_main">
      <div class="ct"><img src="http://cdn1.damailicai.com/news/05.png" alt=""></div>
      <h2 class="news_title">知识百科标题</h2>
      <div class="news_mark">
        <span>2017-09-05</span>
        <label>分类：</label>
        <a href="" target="_blank">知识百科</a>
      </div>
      <div class="news_detail">
        <p>金融资产交易国家队来了。</p>
        <p>据知情人士透露，在2015年全国银行业监督管理工作会议上，银监会主席尚福林就盘活存量、加快信贷资产证券化常规化发展时，特别强调“要以新设立的银行信贷资产流转中心为主体”。该人士并提及，该中心登记流转的资产并不会局限于信贷资产、信贷资产证券化产品，银行业的非标资产、网络借贷(P2P)资产均可能纳入该流转平台，未来可能成为金融资产交易平台中的国家队。</p>
        <img src="http://cdn1.damailicai.com/news/06.png" alt="">
        <p>澎湃新闻查询也发现，银行信贷资产流转中心目前已经公司化运作，全称为银行业信贷资产登记流转中心有限公司(以下简称“信贷资产流转中心”)。该公司注册于2014年6月，注册资本为3.5亿元，股东为中央国债登记结算有限责任公司(下称“中债登”)和中国农村金融杂志社，注册地为北京市丰台区丽泽路18号院1号楼金唐国际金融大厦。信贷资产流转中心法人代表、董事长为吕世蕴，水汝庆兼任董事和总裁，这两人分别是中债登董事长和总经理。</p>
        <p>简单理解，信贷资产登记流转中心的交易品种不仅限于银行贷款，可能做的事情会很多，澎湃新闻查询到该公司的2015年招聘资料亦印证了这一点。该公司目前与中债登招聘一并进行，招聘岗位包括两类，一是金融业务类，岗位职责包括非标产品登记、结算，创新产品交易监测、市场推广等，第二类是信息技术类，岗位职责为P2P业务信息监测与管理。</p>

      </div>
      <div class="share">
        
      </div>
    </div>
  </div>
  <div class="list_right fr">
    <div class="demo_box">
      <p class="ct ft24 text">历史年化利率</p>
      <p class="yearrate ct">11%</p>
      <p class="ct lh30 ft20">注册送 <span class="ft20 ft-f39700">10,000元</span> 体验金</p>
      <p class="ct lh30 ft20">再送 <span class="ft20 ft-f39700">388元</span> 红包</p>
      <a class="login_btn" href="/register/index">立即领取</a>
    </div>
    <div class="baike_bar">
      <h2>知识百科</h2>
      <div class="baike_cate clear">
        <a href="">A</a>
        <a href="">B</a>
        <a href="">C</a>
        <a href="">D</a>
        <a href="">E</a>
        <a href="">F</a>
        <a href="">G</a>
        <a href="">H</a>
        <a href="">I</a>
        <a href="">J</a>
        <a href="">K</a>
        <a href="">L</a>
        <a href="">M</a>
        <a href="">N</a>
        <a href="">O</a>
        <a href="">P</a>
        <a href="">Q</a>
        <a href="">R</a>
        <a href="">S</a>
        <a href="">T</a>
        <a href="">U</a>
        <a href="">V</a>
        <a href="">W</a>
        <a href="">X</a>
        <a href="">Y</a>
        <a href="">Z</a>
        <a href="">0-9</a>
        <a href="">ALL</a>
      </div>
    </div>
    <div class="hot_mark">
      <h2>热门标签</h2>
      <ul class="clear">
        <li><a href="" target="_blank">金融</a></li>
        <li><a href="" target="_blank">互联网金融</a></li>
        <li><a href="" target="_blank">理财</a></li>
        <li><a href="" target="_blank">大麦理财</a></li>
        <li><a href="" target="_blank">投资理财</a></li>
        <li><a href="" target="_blank">投资</a></li>
        <li><a href="" target="_blank">互金平台</a></li>
        <li><a href="" target="_blank">理财平台</a></li>
      </ul>
    </div>
  </div>
</div>
{include file="public/footer" /}
</body>
</html>