{include file="public/header" /}
<link rel="stylesheet" href="__CSS__/list.css" />
<div class="bk20"></div>
<div class="mcenter clear">
  <div class="list_left fl">
    <div class="nav">当前位置:
      <?php foreach($pid as $key=>$vo):?>
      <?php if(count($pid)-1>$key):?>
      <a href="{:url('article/lists?id='.$vo)}">{$vo|get_category_title}</a> >
      <?php else:?>
      <a href="{:url('article/lists?id='.$vo)}">{$vo|get_category_title}</a>
      <?php endif;?>
      <?php endforeach;?>
    </div>
    <div class="list_main">
      <div class="ct"><a href="<?php echo $adList['url'];?>"><img src="http://59.110.136.193:9017/<?php echo $adList['path']?>" alt=""></a></div>
      <h2 class="news_title">{$list.list.title}</h2>
      <div class="news_mark">
        <span>{$list.list.create_time||date="Y-m-d",###}</span>
        <label>分类：</label>
        <a href="" target="_blank">{$list.info.title}</a>
      </div>
      <div class="news_detail">
      {$list.list.content}
      </div>
      <div class="share clear">
        <div class="bshare-custom icon-medium fr"><a href="http://www.bShare.cn/" id="bshare-shareto" class="bshare-more">分享到</a><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=4f5c0e4c-69ca-477d-8ac5-c1af6cdc7ad5&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
      </div>
    </div>
  </div>
  <div class="list_right fr">
    <div class="demo_box">
      <p class="ct ft24 text">历史年化利率</p>
      <p class="yearrate ct">11%</p>
      <p class="ct lh30 ft20">注册送 <span class="ft20 ft-f39700">10,000元</span> 体验金</p>
      <p class="ct lh30 ft20">再送 <span class="ft20 ft-f39700">388元</span> 红包</p>
      <a class="login_btn" href="/register/index">立即领取</a>
    </div>
    <!-- <div class="baike_bar">
      <h2>知识百科</h2>
      <div class="baike_cate clear">
        <a href="{:url('baike/lists?keyword=s')}">A</a>
        <a href="">B</a>
        <a href="">C</a>
        <a href="">D</a>
        <a href="">E</a>
        <a href="">F</a>
        <a href="{:url('baike/lists?keyword=g')}">G</a>
        <a href="">H</a>
        <a href="">I</a>
        <a href="">J</a>
        <a href="">K</a>
        <a href="">L</a>
        <a href="">M</a>
        <a href="">N</a>
        <a href="">O</a>
        <a href="">P</a>
        <a href="">Q</a>
        <a href="">R</a>
        <a href="">S</a>
        <a href="">T</a>
        <a href="">U</a>
        <a href="">V</a>
        <a href="">W</a>
        <a href="">X</a>
        <a href="">Y</a>
        <a href="">Z</a>
        <a href="">0-9</a>
        <a href="">ALL</a>
      </div>
    </div> -->
    <div class="hot_mark">
      <h2>热门标签</h2>
      <ul class="clear">
        <?php foreach($list['hotLabel'] as $key=>$value):?>
        <li><a href="{:url('/index/article/labellist/keyword/'.$key)}" target="_blank">{$key}</a></li>
        <?php endforeach;?>
      </ul>
    </div>
  </div>
</div>
{include file="public/footer" /}
</body>
</html>