{include file="public/header" /}
<link rel="stylesheet" href="__CSS__/list.css" />
<div class="bk20"></div>
<div class="mcenter clear">
  <div class="list_left fl">
    <div class="nav">当前位置：<a href="{:url('index/index')}">大麦理财</a>&nbsp;&nbsp;>&nbsp;<span>知识百科</span></div>
    <div class="list_main">
      <div class="list_about">
        <span class="title ft16">知识百科</span>
        <span class="text ft12">{$list.info.description}</span>
      </div>
      <h2 class="baike_title">按字母检索</h2>
      <div class="baike_nav clear">
        <a href="javascript:;">A</a>
        <a href="javascript:;">B</a>
        <a href="javascript:;">C</a>
        <a href="javascript:;">D</a>
        <a href="javascript:;">E</a>
        <a href="javascript:;">F</a>
        <a href="javascript:;">G</a>
        <a href="javascript:;">H</a>
        <a href="javascript:;">I</a>
        <a href="javascript:;">J</a>
        <a href="javascript:;">K</a>
        <a href="javascript:;">L</a>
        <a href="javascript:;">M</a>
        <a href="javascript:;">N</a>
        <a href="javascript:;">O</a>
        <a href="javascript:;">P</a>
        <a href="javascript:;">Q</a>
        <a href="javascript:;">R</a>
        <a href="javascript:;">S</a>
        <a href="javascript:;">T</a>
        <a href="javascript:;">U</a>
        <a href="javascript:;">V</a>
        <a href="javascript:;">W</a>
        <a href="javascript:;">X</a>
        <a href="javascript:;">Y</a>
        <a href="javascript:;">Z</a>
        <a href="javascript:;" class="on">ALL</a>
      </div>
      <div class="baike_list clear">
        {foreach $list.list as $vo}
        <a href="{:url('baike/detail?categoryId='.$vo['id'])}" target="_blank">{$vo.title}</a>
        {/foreach}
      </div>
    </div>
  </div>
  <div class="list_right fr">
    <div class="demo_box">
      <p class="ct ft24 text">历史年化利率</p>
      <p class="yearrate ct">11%</p>
      <p class="ct lh30 ft20">注册送 <span class="ft20 ft-f39700">10,000元</span> 体验金</p>
      <p class="ct lh30 ft20">再送 <span class="ft20 ft-f39700">388元</span> 红包</p>
      <a class="login_btn" href="/register/index">立即领取</a>
    </div>
    <div class="hot_news">
      <h2>热门文章</h2>
      <div class="hot_top">
        <h3>{$list.hotNews.0.title}</h3>
        <p>{$list.hotNews.0.seo_description}</p>
      </div>
      <ul>
        <?php foreach($list['hotNews'] as $key=>$value):?>
        <li><a href="{:url('article/list?id='.$value['id'])}" target="_blank">{$value.title}</a></li>
        <?php endforeach;?>
      </ul>
    </div>
    <div class="hot_mark">
      <h2>热门标签</h2>
      <ul class="clear">
        <?php foreach($list['hotLabel'] as $key=>$value):?>
        <li><a href="{:url('/index/article/labellist/keyword/'.$key)}" target="_blank">{$key}</a></li>
        <?php endforeach;?>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript" src="__COMMON__/baike_list.js"></script>
{include file="public/footer" /}
</body>
</html>