{include file="public/header" /}
<link rel="stylesheet" href="__CSS__/list.css" />
<link rel="stylesheet" href="__CSS__/paging.css" />
<div class="bk20"></div>
<div class="mcenter clear">
  <div class="list_left fl">
    <div class="nav">当前位置:&nbsp;
      <?php foreach($ids as $key=>$vo):?>
      <?php if(count($ids)-1>$key):?>
      <a href="<?php echo config('proxyList').$vo;?>">{$vo|get_category_title}</a> >
      <?php else:?>
      <a href="<?php echo config('proxyList').$vo;?>">{$vo|get_category_title}</a>
      <?php endif;?>
      <?php endforeach;?>

    </div>
    <div class="list_main">
      <div class="list_about">
        <span class="title ft16">{$info.title}</span>
        <span class="text ft12">{$info.description}</span>
      </div>
      <div class="news_top clear">
        <div class="news_box fl">
          <img src="<?php echo "/zixun/".get_cover($res['list'][0]["cover_id"], "path" );?>" width="360" height="240" alt="">
          <h2><a href="<?php echo config('proxyDetail').$res['list'][0]['id']?>">{$res.list.0.title}</a></h2>
          <p>{$res.list.0.seo_description}</p>
          <div class="marks">
            <span>{$res.list.0.create_time|date="Y-m-d",###}</span>
            <a href="javascript:;" target="_blank">{$info.title}</a>
            <label>标签：</label>
            <a href="<?php echo config('proxyLabel').explode(',',$res['list'][0]['description'])[0];?>" target="_blank"><?php echo explode(',',$res['list'][0]['description'])[0]?></a>
          </div>
        </div>
        <div class="news_box fr">
          <img src="<?php echo "/zixun/".get_cover($res['list'][1]["cover_id"], "path" );?>" width="360" height="240" alt="">
          <h2><a href="<?php echo config('proxyDetail').$res['list'][1]['id']?>">{$res.list.1.title}</a></h2>
          <p>{$res.list.1.seo_description}</p>
          <div class="marks">
            <span>{$res.list.1.create_time|date="Y-m-d",###}</span>
            <a href="javascript:;" target="_blank">{$info.title}</a>
            <label>标签：</label>
            <a href="<?php echo config('proxyLabel').explode(',',$res['list'][1]['description'])[0];?>" target="_blank"><?php echo explode(',',$res['list'][1]['description'])[0]?></a>
          </div>
        </div>
      </div>
      <ul class="news_list">
          <?php for($i=2;$i<count($res['list']);$i++):?>
        <li>
          <h2><a href="<?php echo config('proxyDetail').$res['list'][$i]['id']?>"><?php echo $res['list'][$i]['title']?></a></h2>
          <p><?php echo $res['list'][$i]['seo_description']?></p>
          <div class="marks">
            <span><?php echo date('Y-m-d',$res['list'][$i]['create_time'])?></span>
            <a href="javascript:;" target="_blank">{$info.title}</a>
            <label>标签：</label>
            <a href="javascript:;" target="_blank"><?php echo explode(',',$res['list'][$i]['description'])[0]?></a>
          </div>
        </li>
          <?php endfor;?>
      </ul>
    </div>
    <div class="pageBox"></div>
    <div class="related clear">
      <div class="fl">
        <h2>{$info.title}相关文章</h2>
        <ul>
          <?php if($list['relateArticles']):?>
          <?php foreach($list['relateArticles'] as $key=>$value):?>
          <li><a href="<?php echo config('proxyDetail').$key;?>" class="clear" target="_blank"><span class="fl">{$value.title}</span><span class="fr">{$value.create_time}</span></a></li>
          <?php endforeach;?>
          <?php endif;?>
        </ul>
      </div>
      <div class="fr">
        <h2>{$info.title}相关问答</h2>
        <ul>
          <?php if($list['relateQuestion']):?>
          <?php foreach($list['relateQuestion'] as $key=>$value):?>
          <li><a href="<?php echo config('proxyQa').$value['id'];?>" target="_blank"><span class="fl">{$value.title}</span><span class="fr">{$value.create_time|date="Y-m-d",###}</span></a></li>
          <?php endforeach;?>
          <?php endif;?>
        </ul>
      </div>
    </div>
    <div class="related_mark">
      <h2>行业资讯相关标签</h2>
      <ul class="clear">
        <?php foreach(array_unique(explode(',',$list['labelAll'])) as $key=>$value):?>
        <li><a href="<?php echo config('proxyLabel').$value;?>" target="_blank">{$value}</a></li>
        <?php endforeach;?>
      </ul>
    </div>
  </div>
  <div class="list_right fr">
    <div class="demo_box">
      <p class="ct ft24 text">历史年化利率</p>
      <p class="yearrate ct">11%</p>
      <p class="ct lh30 ft20">注册送 <span class="ft20 ft-f39700">10,000元</span> 体验金</p>
      <p class="ct lh30 ft20">再送 <span class="ft20 ft-f39700">388元</span> 红包</p>
      <a class="login_btn" href="/register/index">立即领取</a>
    </div>
    <div class="hot_news">
      <h2>热门文章</h2>
      <div class="hot_top">
        <h3><a href="<?php echo config('proxyDetail').$list['hotNews'][0]['id'];?>">{$list.hotNews.0.title}</a></h3>
        <p>{$list.hotNews.0.seo_description}</p>
      </div>
      <ul>
        <?php foreach($list['hotNews'] as $key=>$value):?>
        <li><a href="<?php echo config('proxyDetail').$value['id'];?>" target="_blank">{$value.title}</a></li>
        <?php endforeach;?>
      </ul>
    </div>
    <div class="hot_mark">
      <h2>热门标签</h2>
      <ul class="clear">
        <?php foreach($list['hotLabel'] as $key=>$value):?>
        <li><a href="<?php echo config('proxyLabel').$key;?>" target="_blank">{$key}</a></li>
        <?php endforeach;?>
      </ul>
    </div>
  </div>
</div>
<input type="hidden" class="pageType" data-type="<?php echo $info['id'];?>">
<input type="hidden" class="totalRows" name="totalRows" value="<?php echo $res['count'];?>" data-perpage="10">
<script type="text/javascript" src="__COMMON__/paging.js"></script>
<script type="text/javascript" src="__COMMON__/doc_list.js"></script>
{include file="public/footer" /}
</body>
</html>