{include file="public/header" /}
<link rel="stylesheet" href="__CSS__/list.css" />
<div class="bk20"></div>
<div class="mcenter clear">
  <div class="list_left fl">
    <div class="nav">当前位置：<a href="">大麦理财</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="">资讯中心</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="">行业资讯</a></div>
    <div class="list_main">
      <h1 class="mark_title">标签标题</h1>
      <ul class="news_list">
        <li>
          <h2>新闻标题</h2>
          <p>新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要</p>
          <div class="marks">
            <span>2017-09-05</span>
            <a href="" target="_blank">行业新闻</a>
            <label>标签：</label>
            <a href="" target="_blank">大麦理财</a>
          </div>
        </li>
        <li>
          <h2>新闻标题</h2>
          <p>新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要</p>
          <div class="marks">
            <span>2017-09-05</span>
            <a href="" target="_blank">行业新闻</a>
            <label>标签：</label>
            <a href="" target="_blank">大麦理财</a>
          </div>
        </li>
        <li>
          <h2>新闻标题</h2>
          <p>新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要</p>
          <div class="marks">
            <span>2017-09-05</span>
            <a href="" target="_blank">行业新闻</a>
            <label>标签：</label>
            <a href="" target="_blank">大麦理财</a>
          </div>
        </li>
        <li>
          <h2>新闻标题</h2>
          <p>新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要</p>
          <div class="marks">
            <span>2017-09-05</span>
            <a href="" target="_blank">行业新闻</a>
            <label>标签：</label>
            <a href="" target="_blank">大麦理财</a>
          </div>
        </li>
        <li>
          <h2>新闻标题</h2>
          <p>新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要</p>
          <div class="marks">
            <span>2017-09-05</span>
            <a href="" target="_blank">行业新闻</a>
            <label>标签：</label>
            <a href="" target="_blank">大麦理财</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="pageBox"></div>
  </div>
  <div class="list_right fr">
    <div class="demo_box">
      <p class="ct ft24 text">历史年化利率</p>
      <p class="yearrate ct">11%</p>
      <p class="ct lh30 ft20">注册送 <span class="ft20 ft-f39700">10,000元</span> 体验金</p>
      <p class="ct lh30 ft20">再送 <span class="ft20 ft-f39700">388元</span> 红包</p>
      <a class="login_btn" href="/register/index">立即领取</a>
    </div>
    <div class="hot_news">
      <h2>热门文章</h2>
      <div class="hot_top">
        <h3>新闻标题</h3>
        <p>新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要新闻摘要</p>
      </div>
      <ul>
        <li><a href="" target="_blank">新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
        <li><a href="" target="_blank">新闻标题</a></li>
        <li><a href="" target="_blank">新闻标题</a></li>
        <li><a href="" target="_blank">新闻标题</a></li>
        <li><a href="" target="_blank">新闻标题</a></li>
        <li><a href="" target="_blank">新闻标题</a></li>
      </ul>
    </div>
    <div class="hot_mark">
      <h2>热门标签</h2>
      <ul class="clear">
        <li><a href="" target="_blank">金融</a></li>
        <li><a href="" target="_blank">互联网金融</a></li>
        <li><a href="" target="_blank">理财</a></li>
        <li><a href="" target="_blank">大麦理财</a></li>
        <li><a href="" target="_blank">投资理财</a></li>
        <li><a href="" target="_blank">投资</a></li>
        <li><a href="" target="_blank">互金平台</a></li>
        <li><a href="" target="_blank">理财平台</a></li>
      </ul>
    </div>
  </div>
</div>
{include file="public/footer" /}
</body>
</html>