{include file="public/header" /}
<link rel="stylesheet" href="__CSS__/list.css" />
<link rel="stylesheet" href="__CSS__/paging.css" />
<div class="bk20"></div>
<div class="mcenter clear">
  <div class="list_left fl">
    <div class="nav">当前位置：<a href="{:url('index/index')}">大麦理财</a>&nbsp;&nbsp;>&nbsp;&nbsp;<span>标签</span>&nbsp;&nbsp;>&nbsp;&nbsp;<span>{$list.keyword}</span></div>
    <div class="list_main">
      <h1 class="mark_title">{$list.keyword}</h1>
      <ul class="news_list">
        <?php foreach($list['list'] as $key=>$value):?>
        <li>
          <h2><a href="{:url('article/detail?id='.$value['id'])}" target="_blank">{$value.contents_title}</a></h2>
          <p>{$value.seo_description}</p>
          <div class="marks">
            <span>{$value.create_time|date="Y-m-d",###}</span>
            <a href="" target="_blank">{$value.category_title}</a>
            <label>标签：</label>
            <a href="" target="_blank"><?php echo explode(',',$value['description'])[0]?></a>
          </div>
        </li>
        <?php endforeach;?>
      </ul>
    </div>
    <div class="pageBox"></div>
  </div>
  <div class="list_right fr">
    <div class="demo_box">
      <p class="ct ft24 text">历史年化利率</p>
      <p class="yearrate ct">11%</p>
      <p class="ct lh30 ft20">注册送 <span class="ft20 ft-f39700">10,000元</span> 体验金</p>
      <p class="ct lh30 ft20">再送 <span class="ft20 ft-f39700">388元</span> 红包</p>
      <a class="login_btn" href="/register/index">立即领取</a>
    </div>
    <div class="hot_news">
      <h2>热门文章</h2>
      <div class="hot_top">
        <h3><a href="{:url('article/detail?id='.$list['hotNews'][0]['id'])}">{$list.hotNews.0.title}</a></h3>
        <p>{$list.hotNews.0.seo_description}</p>
      </div>
      <ul>
        <?php foreach($list['hotNews'] as $key=>$value):?>
        <li><a href="{:url('article/detail?id='.$value['id'])}" target="_blank">{$value.title}</a></li>
        <?php endforeach;?>
      </ul>
    </div>
    <div class="hot_mark">
      <h2>热门标签</h2>
      <ul class="clear">
        <?php foreach($list['hotLabel'] as $key=>$value):?>
        <li><a href="{:url('/index/article/labellist/keyword/'.$key)}" target="_blank">{$key}</a></li>
        <?php endforeach;?>
      </ul>
    </div>
  </div>
</div>
<input type="hidden" class="pageType" data-type="<?php echo $info['id'];?>">
<input type="hidden" class="totalRows" name="totalRows" value="<?php echo $res['count'];?>" data-perpage="10">
<script type="text/javascript" src="__COMMON__/paging.min.js"></script>
<script type="text/javascript" src="__COMMON__/mark_list.min.js"></script>
{include file="public/footer" /}
</body>
</html>