{include file="public/header" /}
<link rel="stylesheet" href="__CSS__/list.css" />
<div class="bk20"></div>
<div class="mcenter clear">
  <div class="list_left fl">
    <div class="nav">当前位置：
      {foreach $pid as $vo}
      <a href="{:url('article/lists?id='.$vo)}">{$vo|get_category_title}</a>    >
      {/foreach}
      <span>{$info.title}</span>
    </div>
    <div class="list_main">
      <div class="qa_share">
        
      </div>
      <div class="question">
        <h2>{$info.title} <i></i><span>{$info.view}</span></h2>
        <p>{$info.content}</p>
      </div>
<!--      <div class="answer">
        <h2>回答</h2>
        <p>要看一个理财公司哪家好，首先要看公司的背景实力以及风控方面做的怎样，这都关系着你投资的资金安全度高不高。</p>
      </div>-->
    </div>
    <div class="related clear">
      <div class="fl">
        <h2>{$info.category_title}相关文章</h2>
        <ul>
          <?php if($list['relateArticles']):?>
          <?php foreach($list['relateArticles'] as $key=>$value):?>
          <li><a href="{:url('article/detail?id='.$key)}" target="_blank"><span class="fl">{$value.title}</span><span class="fr">{$value.create_time}</span></a></li>
          <?php endforeach;?>
          <?php endif;?>
        </ul>
      </div>
      <div class="fr">
        <h2>{$info.category_title}相关问答</h2>
        <ul>
          <?php if($list['relateQuestionByCategory']):?>
          <?php foreach($list['relateQuestionByCategory'] as $key=>$value):?>
          <li><a href="{:url('article/detail?id='.$value['id'])}" target="_blank"><span class="fl">{$value.title}</span><span class="fr">{$value.create_time|date="Y-m-d",###}</span></a></li>
          <?php endforeach;?>
          <?php endif;?>
        </ul>
      </div>
    </div>
  </div>
  <div class="list_right fr">
    <div class="demo_box">
      <p class="ct ft24 text">历史年化利率</p>
      <p class="yearrate ct">11%</p>
      <p class="ct lh30 ft20">注册送 <span class="ft20 ft-f39700">10,000元</span> 体验金</p>
      <p class="ct lh30 ft20">再送 <span class="ft20 ft-f39700">388元</span> 红包</p>
      <a class="login_btn" href="/register/index">立即领取</a>
    </div>
    <div class="hot_mark">
      <h2>热门标签</h2>
      <ul class="clear">
        <?php foreach(array_unique(explode(',',$list['labelAll'])) as $key=>$value):?>
        <li><a href="" target="_blank">{$value}</a></li>
        <?php endforeach;?>
      </ul>
    </div>
  </div>
</div>
{include file="public/footer" /}
</body>
</html>