{include file="public/header" /}
<link rel="stylesheet" href="__CSS__/list.css" />
<div class="bk20"></div>
<div class="mcenter clear">
  <div class="list_left fl">
    <div class="nav">当前位置：<a href="">大麦理财</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="">大麦问答</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="">问答详情</a></div>
    <div class="list_main">
      <div class="qa_share">
        
      </div>
      <div class="question">
        <h2>问答标题 <i></i><span>120</span></h2>
        <p>大麦理财正式宣布与中科院旗下Italk沙龙达成合作。由大麦理财独家冠名Italk沙龙的每期活动。 Italk沙龙由中科院计算所上海分所所长孔华威先生发起创办，从IT起步，拓展为搭建创新生态之家，为主流人群、技术、企业的科技金融创新提供交流场地。大麦理财正式宣布与中科院旗下Italk沙龙达成合作。</p>
      </div>
      <div class="answer">
        <h2>回答</h2>
        <p>要看一个理财公司哪家好，首先要看公司的背景实力以及风控方面做的怎样，这都关系着你投资的资金安全度高不高。</p>
      </div>
    </div>
    <div class="related clear">
      <div class="fl">
        <h2>相关文章</h2>
        <ul>
          <li><a href="" target="_blank"><span class="fl">新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</span><span class="fr">2017-09-05</span></a></li>
          <li><a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a></li>
          <li><a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a></li>
          <li><a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a></li>
          <li><a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a></li>
        </ul>
      </div>
      <div class="fr">
        <h2>相关问答</h2>
        <ul>
          <li><a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a></li>
          <li><a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a></li>
          <li><a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a></li>
          <li><a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a></li>
          <li><a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="list_right fr">
    <div class="demo_box">
      <p class="ct ft24 text">历史年化利率</p>
      <p class="yearrate ct">11%</p>
      <p class="ct lh30 ft20">注册送 <span class="ft20 ft-f39700">10,000元</span> 体验金</p>
      <p class="ct lh30 ft20">再送 <span class="ft20 ft-f39700">388元</span> 红包</p>
      <a class="login_btn" href="/register/index">立即领取</a>
    </div>
    <div class="hot_mark">
      <h2>热门标签</h2>
      <ul class="clear">
        <li><a href="" target="_blank">金融</a></li>
        <li><a href="" target="_blank">互联网金融</a></li>
        <li><a href="" target="_blank">理财</a></li>
        <li><a href="" target="_blank">大麦理财</a></li>
        <li><a href="" target="_blank">投资理财</a></li>
        <li><a href="" target="_blank">投资</a></li>
        <li><a href="" target="_blank">互金平台</a></li>
        <li><a href="" target="_blank">理财平台</a></li>
      </ul>
    </div>
  </div>
</div>
{include file="public/footer" /}
</body>
</html>