{include file="public/header" /}
<link rel="stylesheet" href="__CSS__/list.css" />
<link rel="stylesheet" href="__CSS__/paging.css" />
<div class="bk20"></div>
<div class="mcenter clear">
  <div class="list_left fl">
    <div class="nav">当前位置：
      <?php foreach($ids as $key=>$vo):?>
      <?php if(count($ids)-1>$key):?>
      <a href="{:url('article/lists?id='.$vo)}">{$vo|get_category_title}</a> >
      <?php else:?>
      <a href="{:url('article/lists?id='.$vo)}">{$vo|get_category_title}</a>
      <?php endif;?>
      <?php endforeach;?>
    </div>
    <div class="list_main">
      <div class="qa_nav clear">
        <?php foreach($cid as $key=>$value):?>
        <li><a href="javascript:;" data-id="{$value}">{$value|get_category_title}</a></li>
        <?php endforeach;?>
      </div>
      <p class="qa_tips dn">为你找到 <span><?php echo count($res['list'])?></span> 个 <label>相关</label> 的问题</p>
      <ul class="qa_list">
        <?php foreach($res['list'] as $key=>$value):?>
        <li>
          <h2><a href="{:url('question/detail?id='.$value['id'])}">{$value.title}</a></h2>
          <p>{$value.seo_description}</p>
          <div class="qa_mark">
            <a href="javascript:;" target="_blank">{$value.category_id|get_category_title}</a>
            <label>浏览：{$value.view}</label>
            <span>{$value.create_time|date="Y-m-d",###}</span>
          </div>
        </li>
        <?php endforeach;?>
      </ul>
    </div>
    <div class="pageBox"></div>
    <div class="related clear">
      <div class="fl">
        <h2>热门问题</h2>
        <ul>
          <?php if($list['hotQuestion']):?>
          <?php foreach($list['hotQuestion'] as $key=>$value):?>
          <li><a href="{:url('article/detail?id='.$key)}" target="_blank"><span class="fl">{$value.title}</span><span class="fr">{$value.create_time}</span></a></li>
          <?php endforeach;?>
          <?php endif;?>
        </ul>
      </div>
      <div class="fr">
        <h2>行业资讯相关问答</h2>
        <ul>
          <?php if($list['relateQuestion']):?>
          <?php foreach($list['relateQuestion'] as $key=>$value):?>
          <li><a href="{:url('article/detail?id='.$value['id'])}" target="_blank"><span class="fl">{$value.title}</span><span class="fr">{$value.create_time|date="Y-m-d",###}</span></a></li>
          <?php endforeach;?>
          <?php endif;?>
        </ul>
      </div>
    </div>
  </div>
  <div class="list_right fr">
    <div class="demo_box">
      <p class="ct ft24 text">历史年化利率</p>
      <p class="yearrate ct">11%</p>
      <p class="ct lh30 ft20">注册送 <span class="ft20 ft-f39700">10,000元</span> 体验金</p>
      <p class="ct lh30 ft20">再送 <span class="ft20 ft-f39700">388元</span> 红包</p>
      <a class="login_btn" href="/register/index">立即领取</a>
    </div>
    <div class="hot_news">
      <h2>热门文章</h2>
      <div class="hot_top">
        <h3>{$list.hotNews.0.title}</h3>
        <p>{$list.hotNews.0.seo_description}</p>
      </div>
      <ul>
        <?php foreach($list['hotNews'] as $key=>$value):?>
        <li><a href="{:url('article/list?id='.$value['id'])}" target="_blank">{$value.title}</a></li>
        <?php endforeach;?>
      </ul>
    </div>
    <div class="hot_mark">
      <h2>热门标签</h2>
      <ul class="clear">
        <?php foreach(array_unique(explode(',',$list['labelAll'])) as $key=>$value):?>
        <li><a href="{:url('/index/article/labellist/keyword/'.$value)}" target="_blank">{$value}</a></li>
        <?php endforeach;?>
      </ul>
    </div>
  </div>
</div>
<input type="hidden" class="pageType" data-type="<?php echo $info['id'];?>">
<input type="hidden" class="totalRows" name="totalRows" value="<?php echo $res['count'];?>" data-perpage="10">
<script type="text/javascript" src="__COMMON__/paging.min.js"></script>
<script type="text/javascript" src="__COMMON__/qa_list.js"></script>
{include file="public/footer" /}
</body>
</html>
