<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{$meta_title|default=""}|yershop后台管理</title>
		<link rel="stylesheet" href="__CSS__/index.css" />
	    <link rel="stylesheet" href="__COMMON__/font-awesome/css/font-awesome.min.css">
		<script type="text/javascript" src="__JS__/jquery.min.js" ></script>
	</head>
	<style>



.top{
	width: 100%;
	height: 50px;
	color: #ffffff;
    background-color: {:C('COLOR')};padding:2px 0;
}
a{color:{:C('COLOR')};text-decoration:none;cursor: pointer;}

i{font-style:normal}
</style>
	<body>
		<div class="top"  style="margin:0 auto;">
			<ul class="main_links">
			{present name="group"}
                        <!-- 欢迎语 -->
						   {volist name="group" id="vo" empty=""}
                            <li><a href="{$vo.id|get_group_url}">{$vo.title|default=""} </a></li>
							{/volist}  
							{/present}
			<li><a href="{:site_url()}" target="_blank">前台 </a></li>

			</ul>	
		<div class="user_info">
			<span class="user_info_desc"><span class="user_name cur">{:get_username()}</span><span>欢迎你</span></span>
			
				<a href="{:url('login/logout')}">退出</a>
			</div>
		</div>
	<div class="main"style="width:1088px;background:#F2F2F2;margin:20px auto;">
			
	<div class="content" class="trees" style="margin-left: 0px;background:#F2F2F2; min-height:117px;">
			
				<div class="show_info">
					<div class="calc_goods_cate show_info_div left">
						<div class="left_img">
							<div></div>
						</div>
						<div class="right_text">
							<span class="text_title">总分类数</span>
							<span class="num">{$info.category|default="0"}</span>
						</div>
					</div>
					
					  <div class="imgs_tnums show_info_div left">
						<div class="left_img">
							<div></div>
						</div>
						<div class="right_text">
							<span class="text_title">总图片数</span>
							<span class="num">{$info.category|default="0"}</span>
						</div>
					</div>
					
					<div class="ads_nums show_info_div left">
						<div class="left_img">
							<div></div>
						</div>
						<div class="right_text">
							<span class="text_title">广告个数</span>
							<span class="num">{$info.ad|default="0"}</span>
						</div>
					</div>
					<div class="goods_quantity show_info_div left">
						<div class="left_img">
							<div></div>
						</div>
						<div class="right_text">
							<span class="text_title">日志个数</span>
							<span class="num">{$info.log|default="0"}</span>
						</div>
					</div>
					<div class="user_amount show_info_div left">
						<div class="left_img">
							<div></div>
						</div>
						<div class="right_text">
							<span class="text_title">用户量</span>
							<span class="num">{$info.user|default="0"}</span>
						</div>
					</div>
				</div>
			  
				 
			</div>
		</div>
			<div class="container" style="width:1088px;background:#03a9f42;margin:10px auto;">

	</div>

 <!-- 头部 -->
	{include file='public/footer'}
<!-- 头部 --> 

