{include file="public/header" /}
<link rel="stylesheet" href="__CSS__/index_new.css" />
<div class="cont mcenter">
	<div class="demo clear">
		<div class="banner fl">
			<div class="slide_show relative">
				<ul class="slide_box">
					<?php foreach($list['showCarousel'] as $key=>$value):?>
					<li>
						<a href="{$value.url}" target="_blank">
							<img src="http://59.110.136.193:9017/{$value.cover_id|get_cover}" width="400" height="240" alt="{$value.meta_title}">
							<span class="title">{$value.meta_title}</span>
						</a>
					</li>
					<?php endforeach;?>
				</ul>
				<ul class="slidebar clear">
					<li class="current"></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="banner_bar">
				<a href="" target="_blank">
					<img src="http://cdn1.damailicai.com/news/03.png" width="400" height="100" alt="banner图">
				</a>
			</div>
		</div>
		<div class="main_news fl">
			<div class="top_news">
				<h2>头条新闻</h2>
				<p>{$list.topNew.contents_title}</p>
			</div>
			<ul>
				<?php foreach($list['topNewList'] as $key=>$value):?>
				<li class="clear">
					<a href="{:url('article/list?id='.$value['category_id'])}" class="cate fl" target="_blank"><?php echo $value['category_title']?></a>
					<a href="{:url('article/detail?id='.$value['id'])}" class="news_title fl" title="" target="_blank"><?php echo $value['contents_title']?></a>
				</li>
				<?php endforeach;?>
			</ul>
		</div>
		<div class="demo_box fl">
			<p class="ct ft24 text">历史年化利率</p>
			<p class="yearrate ct">11%</p>
			<p class="ct lh30 ft20">注册送 <span class="ft20 ft-f39700">10,000元</span> 体验金</p>
			<p class="ct lh30 ft20">再送 <span class="ft20 ft-f39700">388元</span> 红包</p>
			<a class="login_btn" href="/register/index">立即领取</a>
		</div>
	</div>
	<div class="news_div clear">
		<div class="fl">
			<h2 class="ft16"><a href="{:url('article/lists?id=191')}" target="_blank">行业资讯</a></h2>
			<div class="news_box fl">
				<div class="news_top clear">
					<a href="{:url('article/list?id='.$list['industry'][0]['category_id'])}" target="_blank"><img src="http://59.110.136.193:9017/<?php echo $list['industry'][0]['pic']?>" width="120" height="80" alt="" class="fl"></a>
					<div class="news_info fr">
						<a href="{:url('article/detail?id='.$list['industry'][0]['id'])}" class="newsTitle" title="<?php echo $list['industry'][0]['title']?>" target="_blank"><?php echo $list['industry'][0]['title']?></a>
						<a href="{:url('article/detail?id='.$list['industry'][0]['id'])}" class="newsCate" target="_blank"><?php echo $list['industry'][0]['description']?>   <?php echo $list['industry'][0]['create_time']?></a>
						<p><?php echo $list['industry'][0]['seo_description']?></p>
					</div>
				</div>
				<ul>
					<?php
					count($list['industry'])>5?$count=5:$count=count($list['industry']);
					for($i=0;$i<$count;$i++):?>
					<li>
						<a href="{:url('article/detail?id='. $list['industry'][$i]['category_id'])}" class="clear" target="_blank"><span class="fl"><?php echo $list['industry'][$i]['title']?></span><span class="fr"><?php echo $list['industry'][$i]['create_time']?></span></a>
					</li>
					<?php endfor;?>
				</ul>
			</div>
			<div class="news_box fl">
				<div class="news_top clear">
					<a href="{:url('article/list?id='.$list['industry'][1]['category_id'])}" target="_blank"><img src="http://59.110.136.193:9017/<?php echo $list['industry'][1]['pic']?>" width="120" height="80" alt="" class="fl"></a>
					<div class="news_info fr">
						<a href="{:url('article/detail?id='.$list['industry'][1]['id'])}" class="newsTitle" title="<?php echo $list['industry'][1]['title']?>" target="_blank"><?php echo $list['industry'][1]['title']?></a>
						<a href="{:url('article/detail?id='.$list['industry'][1]['id'])}" class="newsCate" target="_blank"><?php echo $list['industry'][1]['description']?>   <?php echo $list['industry'][1]['create_time']?></a>
						<p><?php echo $list['industry'][1]['seo_description']?></p>
					</div>
				</div>
				<ul>
					<?php
					count($list['industry'])>10?$count=10:$count=count($list['industry']);
					for($_i=5;$_i<$count;$_i++):?>
					<li>
						<a href="{:url('article/detail?id='.$list['industry'][$_i]['category_id'])}" class="clear" target="_blank"><span class="fl"><?php echo $list['industry'][$_i]['title']?></span><span class="fr"><?php echo $list['industry'][$_i]['create_time']?></span></a>
					</li>
					<?php endfor;?>
				</ul>
			</div>
		</div>
		<div class="news_cate fl">
			<h3>资讯分类</h3>
			<ul>
				<?php foreach($list['industryLabel'] as $ikey=>$ivalue):?>
				<li><a href="{:url('/index/article/labellist/keyword/'.$ivalue)}" target="_blank"><?php echo $ivalue?></a></li>
				<?php endforeach;?>
			</ul>
		</div>
	</div>
	<div class="news_div clear">
		<div class="fl">
			<h2 class="ft16"><a href="{:url('index/baike/lists')}" target="_blank">知识百科</a></h2>
			<div class="news_box fl">
				<div class="news_top clear">
					<a href="{:url('article/list?id='.$list['knowledgebase'][0]['category_id'])}" target="_blank"><img src="http://59.110.136.193:9017/<?php echo $list['knowledgebase'][0]['pic']?>" width="120" height="80" alt="" class="fl"></a>
					<div class="news_info fr">
						<a href="{:url('article/detail?id='.$list['knowledgebase'][0]['id'])}" class="newsTitle" title="<?php echo $list['knowledgebase'][0]['title']?>" target="_blank"><?php echo $list['knowledgebase'][0]['title']?></a>
						<a href="{:url('article/detail?id='.$list['knowledgebase'][0]['id'])}" class="newsCate" target="_blank"><?php echo $list['knowledgebase'][0]['description']?>   <?php echo $list['knowledgebase'][0]['create_time']?></a>
						<p><?php echo $list['knowledgebase'][0]['seo_description']?></p>
					</div>
				</div>
				<ul>
					<?php
					count($list['knowledgebase'])>5?$count=5:$count=count($list['knowledgebase']);
					for($j=0;$j<$count;$j++):?>
					<li>
						<a href="{:url('article/detail?id='.$list['knowledgebase'][$j]['id'])}" class="clear" target="_blank"><span class="fl"><?php echo $list['knowledgebase'][$j]['title']?></span><span class="fr"><?php echo $list['knowledgebase'][$j]['create_time']?></span></a>
					</li>
					<?php endfor;?>
				</ul>
			</div>
			<div class="news_box fl">
				<div class="news_top clear">
					<a href="{:url('article/list?id='.$list['knowledgebase'][1]['category_id'])}" target="_blank"><img src="http://59.110.136.193:9017/<?php echo $list['knowledgebase'][1]['pic']?>" width="120" height="80" alt="" class="fl"></a>
					<div class="news_info fr">
						<a href="{:url('article/detail?id='.$list['knowledgebase'][1]['id'])}" class="newsTitle" title="<?php echo $list['knowledgebase'][1]['title']?>" target="_blank"><?php echo $list['knowledgebase'][1]['title']?></a>
						<a href="{:url('article/detail?id='.$list['knowledgebase'][1]['id'])}" class="newsCate" target="_blank"><?php echo $list['knowledgebase'][1]['description']?>   <?php echo $list['knowledgebase'][1]['create_time']?></a>
						<p><?php echo $list['knowledgebase'][1]['seo_description']?></p>
					</div>
				</div>
				<ul>
					<?php
					count($list['knowledgebase'])>10?$count=10:$count=count($list['knowledgebase']);
					for($_j=5;$_j<$count;$_j++):?>
					<li>
						<a href="{:url('article/detail?id='.$list['knowledgebase'][$_j]['id'])}" class="clear" target="_blank"><span class="fl"><?php echo $list['knowledgebase'][$_j]['title']?></span><span class="fr"><?php echo $list['knowledgebase'][$_j]['create_time']?></span></a>
					</li>
					<?php endfor;?>
				</ul>
			</div>
		</div>
		<div class="news_cate fl">
			<h3>百科分类</h3>
			<ul>
				<?php foreach($list['knowledgebaseLabel'] as $kkey=>$kvalue):?>
				<li><a href="{:url('/index/article/labellist/keyword/'.$kvalue)}" target="_blank"><?php echo $kvalue?></a></li>
				<?php endforeach;?>
			</ul>
		</div>
	</div>
	<div class="bar">
		<a href="" target="_blank">
			<img src="http://cdn1.damailicai.com/news/bar.png" alt="">
		</a>
	</div>
	<div class="news_div clear">
		<div class="fl">
			<h2 class="ft16"><a href="{:url('question/lists?id=193')}" target="_blank">大麦问答</a></h2>
			<div class="news_box fl">
				<div class="news_top clear">
					<a href="{:url('article/list?id='.$list['question'][0]['category_id'])}" target="_blank"><img src="http://59.110.136.193:9017/<?php echo $list['question'][0]['pic']?>" width="120" height="80" alt="" class="fl"></a>
					<div class="news_info fr">
						<a href="{:url('article/detail?id='.$list['question'][0]['id'])}" class="newsTitle" title="<?php echo $list['question'][0]['title']?>" target="_blank"><?php echo $list['question'][0]['title']?></a>
						<a href="{:url('article/detail?id='.$list['question'][0]['id'])}" class="newsCate" target="_blank"><?php echo $list['question'][0]['description']?>   <?php echo $list['question'][0]['create_time']?></a>
						<p><?php echo $list['question'][0]['seo_description']?></p>
					</div>
				</div>
				<ul>
					<?php
					count($list['question'])>5?$count=5:$count=count($list['question']);
					for($j=0;$j<$count;$j++):?>
					<li>
						<a href="{:url('article/detail?id='.$list['question'][$j]['id'])}" class="clear" target="_blank"><span class="fl"><?php echo $list['question'][$j]['title']?></span><span class="fr"><?php echo $list['question'][$j]['create_time']?></span></a>
					</li>
					<?php endfor;?>
				</ul>
			</div>
			<div class="news_box fl">
				<div class="news_top clear">
					<a href="{:url('article/list?id='.$list['question'][1]['category_id'])}" target="_blank"><img src="http://59.110.136.193:9017/<?php echo $list['question'][1]['pic']?>" width="120" height="80" alt="" class="fl"></a>
					<div class="news_info fr">
						<a href="{:url('article/detail?id='.$list['question'][1]['id'])}" class="newsTitle" title="<?php echo $list['question'][1]['title']?>" target="_blank"><?php echo $list['question'][1]['title']?></a>
						<a href="{:url('article/detail?id='.$list['question'][1]['id'])}" class="newsCate" target="_blank"><?php echo $list['question'][1]['description']?>   <?php echo $list['question'][1]['create_time']?></a>
						<p><?php echo $list['question'][1]['seo_description']?></p>
					</div>
				</div>
				<ul>
					<?php
					count($list['question'])>10?$count=10:$count=count($list['question']);
					for($j=5;$j<$count;$j++):?>
					<li>
						<a href="{:url('article/detail?id='.$list['question'][$j]['id'])}" class="clear" target="_blank"><span class="fl"><?php echo $list['question'][$j]['title']?></span><span class="fr"><?php echo $list['question'][$j]['create_time']?></span></a>
					</li>
					<?php endfor;?>
				</ul>
		</div>
		<div class="news_cate fl">
			<h3>问答分类</h3>
			<ul>
				<?php foreach($list['questionLabel'] as $kkey=>$kvalue):?>
				<li><a href="{:url('/index/article/labellist/keyword/'.$kvalue)}" class="clear" target="_blank"><?php echo $kvalue?></a></li>
				<?php endforeach;?>
			</ul>
		</div>
	</div>
</div>
</div>
<script type="text/javascript" src="/public/index/js/index.js"></script>
{include file="public/footer" /}
</body>
</html>
