{include file="public/header" /}
<link rel="stylesheet" href="__CSS__/index_new.css" />
<div class="cont mcenter">
	<div class="demo clear">
		<div class="banner fl">
			<div class="slide_show relative">
				<ul class="slide_box">
					<li>
						<a href="" target="_blank">
							<img src="http://cdn1.damailicai.com/news/01.png" alt="">
							<span class="title">互联网圈那些塞翁失马的故事1</span></a></li>
					<li>
						<a href="" target="_blank">
							<img src="http://cdn1.damailicai.com/news/01.png" alt="">
							<span class="title">互联网圈那些塞翁失马的故事2</span></a></li>
					<li>
						<a href="" target="_blank">
							<img src="http://cdn1.damailicai.com/news/01.png" alt="">
							<span class="title">互联网圈那些塞翁失马的故事3</span></a></li>
					<li>
						<a href="" target="_blank">
							<img src="http://cdn1.damailicai.com/news/01.png" alt="">
							<span class="title">互联网圈那些塞翁失马的故事4</span></a></li>
				</ul>
				<ul class="slidebar clear">
					<li class="current"></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="banner_bar">
				<a href="" target="_blank">
					<img src="http://cdn1.damailicai.com/news/03.png" alt="">
				</a>
			</div>
		</div>
		<div class="main_news fl">
			<div class="top_news">
				<h2>头条新闻</h2>
				<p>头条新闻详情头条新闻详情头条新闻详情头条新闻详情头条新闻详情</p>
			</div>
			<ul>
				<li class="clear">
					<a href="" class="cate fl" target="_blank">投资攻略</a>
					<a href="" class="news_title fl" title="" target="_blank">新闻标题</a>
				</li>
				<li class="clear">
					<a href="" class="cate fl" target="_blank">投资攻略</a>
					<a href="" class="news_title fl" title="" target="_blank">新闻标题</a>
				</li>
				<li class="clear">
					<a href="" class="cate fl" target="_blank">投资攻略</a>
					<a href="" class="news_title fl" title="" target="_blank">新闻标题</a>
				</li>
				<li class="clear">
					<a href="" class="cate fl" target="_blank">投资攻略</a>
					<a href="" class="news_title fl" title="" target="_blank">新闻标题</a>
				</li>
				<li class="clear">
					<a href="" class="cate fl" target="_blank">投资攻略</a>
					<a href="" class="news_title fl" title="" target="_blank">新闻标题</a>
				</li>
				<li class="clear">
					<a href="" class="cate fl" target="_blank">投资攻略</a>
					<a href="" class="news_title fl" title="" target="_blank">新闻标题</a>
				</li>
				<li class="clear">
					<a href="" class="cate fl" target="_blank">投资攻略</a>
					<a href="" class="news_title fl" title="" target="_blank">新闻标题</a>
				</li>
				<li class="clear">
					<a href="" class="cate fl" target="_blank">投资攻略</a>
					<a href="" class="news_title fl" title="" target="_blank">新闻标题</a>
				</li>
				<li class="clear">
					<a href="" class="cate fl" target="_blank">投资攻略</a>
					<a href="" class="news_title fl" title="" target="_blank">新闻标题</a>
				</li>
			</ul>
		</div>
		<div class="demo_box fl">
			<p class="ct ft24 text">历史年化利率</p>
			<p class="yearrate ct">11%</p>
			<p class="ct lh30 ft20">注册送 <span class="ft20 ft-f39700">10,000元</span> 体验金</p>
			<p class="ct lh30 ft20">再送 <span class="ft20 ft-f39700">388元</span> 红包</p>
			<a class="login_btn" href="/register/index">立即领取</a>
		</div>
	</div>
	<div class="news_div clear">
		<div class="fl">
			<h2 class="ft16">行业资讯</h2>
			<div class="news_box fl">
				<div class="news_top clear">
					<a href="" target="_blank"><img src="http://cdn1.damailicai.com/news/02.png" alt="" class="fl"></a>
					<div class="news_info fr">
						<a href="" class="newsTitle" target="_blank">新闻标题</a>
						<a href="" class="newsCate" target="_blank">金融理财 2017-09-05</a>
						<p>新闻详情新闻详情新闻详情新闻详情新闻详情新闻详情</p>
					</div>
				</div>
				<ul>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
				</ul>
			</div>
			<div class="news_box fl">
				<div class="news_top clear">
					<a href="" target="_blank"><img src="http://cdn1.damailicai.com/news/02.png" alt="" class="fl"></a>
					<div class="news_info fr">
						<a href="" class="newsTitle" target="_blank">新闻标题</a>
						<a href="" class="newsCate" target="_blank">金融理财 2017-09-05</a>
						<p>新闻详情新闻详情新闻详情新闻详情新闻详情新闻详情</p>
					</div>
				</div>
				<ul>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="news_cate fl">
			<h3>资讯分类</h3>
			<ul>
				<li><a href="" target="_blank">金融理财</a></li>
				<li><a href="" target="_blank">金融理财</a></li>
				<li><a href="" target="_blank">金融理财</a></li>
				<li><a href="" target="_blank">金融理财</a></li>
				<li><a href="" target="_blank">金融理财</a></li>
				<li><a href="" target="_blank">金融理财</a></li>
				<li><a href="" target="_blank">金融理财</a></li>
				<li><a href="" target="_blank">金融理财</a></li>
			</ul>
		</div>
	</div>
	<div class="news_div clear">
		<div class="fl">
			<h2 class="ft16">知识百科</h2>
			<div class="news_box fl">
				<div class="news_top clear">
					<a href="" target="_blank"><img src="http://cdn1.damailicai.com/news/02.png" alt="" class="fl"></a>
					<div class="news_info fr">
						<a href="" class="newsTitle" target="_blank">新闻标题</a>
						<a href="" class="newsCate" target="_blank">金融理财 2017-09-05</a>
						<p>新闻详情新闻详情新闻详情新闻详情新闻详情新闻详情</p>
					</div>
				</div>
				<ul>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
				</ul>
			</div>
			<div class="news_box fl">
				<div class="news_top clear">
					<a href="" target="_blank"><img src="http://cdn1.damailicai.com/news/02.png" alt="" class="fl"></a>
					<div class="news_info fr">
						<a href="" class="newsTitle" target="_blank">新闻标题</a>
						<a href="" class="newsCate" target="_blank">金融理财 2017-09-05</a>
						<p>新闻详情新闻详情新闻详情新闻详情新闻详情新闻详情</p>
					</div>
				</div>
				<ul>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="news_cate fl">
			<h3>资讯分类</h3>
			<ul>
				<li><a href="" target="_blank">金融理财</a></li>
				<li><a href="" target="_blank">金融理财</a></li>
				<li><a href="" target="_blank">金融理财</a></li>
				<li><a href="" target="_blank">金融理财</a></li>
				<li><a href="" target="_blank">金融理财</a></li>
				<li><a href="" target="_blank">金融理财</a></li>
				<li><a href="" target="_blank">金融理财</a></li>
				<li><a href="" target="_blank">金融理财</a></li>
			</ul>
		</div>
	</div>
	<div class="bar">
		<a href="" target="_blank">
			<img src="http://cdn1.damailicai.com/news/bar.png" alt="">
		</a>
	</div>
	<div class="news_div clear">
		<div class="fl">
			<h2 class="ft16">大麦问答</h2>
			<div class="news_box fl">
				<div class="news_top clear">
					<a href="" target="_blank"><img src="http://cdn1.damailicai.com/news/02.png" alt="" class="fl"></a>
					<div class="news_info fr">
						<a href="" class="newsTitle" target="_blank">新闻标题</a>
						<a href="" class="newsCate" target="_blank">金融理财 2017-09-05</a>
						<p>新闻详情新闻详情新闻详情新闻详情新闻详情新闻详情</p>
					</div>
				</div>
				<ul>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
				</ul>
			</div>
			<div class="news_box fl">
				<div class="news_top clear">
					<a href="" target="_blank"><img src="http://cdn1.damailicai.com/news/02.png" alt="" class="fl"></a>
					<div class="news_info fr">
						<a href="" class="newsTitle" target="_blank">新闻标题</a>
						<a href="" class="newsCate" target="_blank">金融理财 2017-09-05</a>
						<p>新闻详情新闻详情新闻详情新闻详情新闻详情新闻详情</p>
					</div>
				</div>
				<ul>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
					<li>
						<a href="" target="_blank"><span class="fl">新闻标题</span><span class="fr">2017-09-05</span></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="news_cate fl">
			<h3>资讯分类</h3>
			<ul>
				<li><a href="" target="_blank">金融理财</a></li>
				<li><a href="" target="_blank">金融理财</a></li>
				<li><a href="" target="_blank">金融理财</a></li>
				<li><a href="" target="_blank">金融理财</a></li>
				<li><a href="" target="_blank">金融理财</a></li>
				<li><a href="" target="_blank">金融理财</a></li>
				<li><a href="" target="_blank">金融理财</a></li>
				<li><a href="" target="_blank">金融理财</a></li>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript" src="/public/index/js/index.js"></script>
{include file="public/footer" /}
</body>
</html>
